@charset "UTF-8";

/* ! --------------------------------------------------

- 確認画面

-------------------------------------------------- */
.p-confirm {
	&--body{
		margin: -20px 0 0;
	}
	&--foot{
		margin: 40px 0 0;
		.p-login__buttonArea {
			+ .p-login__buttonArea {
				margin: 5px 0 0;
			}	
		}
	}
}

