@charset "UTF-8";

/* ! --------------------------------------------------

- ホームページ TOP

-------------------------------------------------- */

.p-home {
    //検索
    &__keyword {
        background: color(background);
        &__body {
            display: flex;
            padding: 18px 0;
            width: 100%;
            .search {
                @extend %c-text__lv5;
                height: 50px;
                border-radius: 4px 0 0 4px;
                font-weight: 400 !important;
            }
        }
    }
    //スライダー
    &__slider {
        position: relative;
        .slick-arrow {
            display: none !important;
        }
        .p-slider__list {
            &__image {
                position: relative;
                // background: url(/image/img/img.png) no-repeat center center;
                background-size: contain;
                background-size: cover !important;
                background-repeat: no-repeat;
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    padding-top: 60%;
                }
                .delivery {
                    @extend %c-text__lv7;
                    @extend %c-text__weight--700;
                    color: color("text_white");
                    background: color("background_red");
                    padding: 5px 8px;
                    border-radius: 0 0 5px 0;
                    position: absolute;
                    top: 0px;
                    display: flex;
                    align-items: center;
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin: 0 0 0 -5px;
                        background-size: contain;
                        background-position: 50%;
                        background: url(/image/icon/icon_delivery.svg) no-repeat
                            center center;
                    }
                }
            }
            &__text {
                padding: 5px 0;
                background: color("background_black");
                display: flex;
                justify-content: center;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 8px;
                    top: 13px;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    display: inline-block;
                    background: url(/image/icon/icon_directing.svg) no-repeat
                        center center;
                }
                .title {
                    font-size: 19px;
                    @extend %c-text__weight--700;
                    color: color("text_white");
                    padding: 4px 25px 4px 10px;
                }
            }
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            > li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                &.slick-active {
                    button {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
                button {
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                    cursor: pointer;
                    color: transparent;
                    background: transparent;
                    border: 0;
                    outline: none;
                    &:before {
                        font-family: "slick";
                        font-size: 40px;
                        line-height: 55px;
                        position: absolute;
                        top: 10px;
                        width: 20px;
                        height: 20px;
                        content: "•";
                        text-align: center;
                        opacity: 0.25;
                        color: color("background_blue");
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }
    //公式クイズ
    &__officialQuiz {
        margin: 45px 0 0;
        //ヘッダー
        &__head {
            text-align: center;
            padding: 10px 0;
            background: color("background_blue");
            &__image {
                display: flex;
                justify-content: center;
                padding: 0 0 0 25px;
                img {
                    min-height: 100%;
                    width: 110px;
                }
                &:after {
                    content: "";
                    height: 35px;
                    width: 35px;
                    background: url(/image/icon/icon_official.svg) no-repeat
                        center center;
                    background-size: contain;
                    margin: 0 0 0 10px;
                }
            }
        }
        //ボディー
        &__body {
            background: color("background");
            padding: 20px 0 0;
            .p-officialQuiz__list {
                + .p-officialQuiz__list {
                    margin: 20px 0 0;
                }
                &__head {
                    position: relative;
                    &__image {
                        position: relative;
                        // background: url(/image/img/img.png) no-repeat center center;
                        border: 3px solid #1d4e90;
                        background-size: cover !important;
                        // background-repeat: no-repeat center center;

                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            padding-top: 60%;
                        }
                        .delivery {
                            @extend %c-text__lv7;
                            @extend %c-text__weight--700;
                            color: color("text_white");
                            background: color("background_red");
                            padding: 5px 8px;
                            border-radius: 0 0 5px 0;
                            position: absolute;
                            top: 0px;
                            display: flex;
                            align-items: center;
                            &:before {
                                content: "";
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                margin: 0 0 0 -5px;
                                background-size: contain !important;
                                background-position: 50% !important;
                                background-repeat: no-repeat !important;
                                background: url(/image/icon/icon_delivery.svg)
                                    no-repeat center center;
                            }
                        }
                    }
                    &__circle {
                        // background: url(/image/img/circle.png) no-repeat center
                        //     center;
                        background-size: cover !important;
                        background-repeat: no-repeat;
                        height: 62px;
                        width: 62px;
                        border: 2px solid #fff;
                        border-radius: 35px;
                        position: absolute;
                        bottom: -10px;
                        left: 12px;
                        z-index: 1;
                    }
                }
                &__body {
                    background: color("background_white");
                    padding: 15px 12px 10px 12px;
                    .text {
                        .above {
                            .title {
                                @extend %c-text__lv5;
                                @extend %c-text__weight--700;
                                color: color("text");
                            }
                            .offer {
                                @extend %c-text__lv7;
                                color: color("text_gray");
                            }
                        }
                        .under {
                            margin: 12px 0 0;
                            .p-show__list {
                                > li {
                                    + li {
                                        margin: 5px 0 0;
                                    }
                                    article {
                                        display: flex;
                                        flex-wrap: nowrap;
                                        width: 100%;
                                        align-items: flex-start;
                                        .title {
                                            flex: 0 0 70px;
                                            position: relative;
                                            p {
                                                @extend %c-text__lv7;
                                                @extend %c-text__weight--700;
                                                color: color("text_black");
                                            }
                                        }
                                        .cnt {
                                            p {
                                                @extend %c-text__lv7;
                                                @extend %c-text__weight--500;
                                                color: color("text");
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__time {
                    display: flex;
                    align-items: center;
                    margin: 8px 0 0;
                    .title {
                        @extend %c-text__lv7;
                        color: color("text");
                    }
                    .number {
                        @extend %c-text__lv7;
                        color: color("text_blue");
                        margin: 0 0 0 5px;
                        span {
                            @extend %c-text__lv6;
                            font-family: Roboto-Bold, sans-serif;
                        }
                    }
                    &__entry {
                        display: flex;
                        align-items: center;
                        margin: 0 12px 0 0;
                        .number {
                            @extend %c-text__lv7;
                            color: color("text_blue");
                            @extend %c-text__weight--700;
                            margin: 0 0 0 5px;
                            span {
                                @extend %c-text__lv6;
                                @extend %c-text__weight--700;
                            }
                        }
                    }
                    &__challenge {
                        display: flex;
                        align-items: center;
                        .number {
                            @extend %c-text__lv7;
                            @extend %c-text__weight--700;
                            color: color("text_blue");
                            margin: 0 0 0 5px;
                            span {
                                @extend %c-text__lv6;
                                @extend %c-text__weight--700;
                            }
                        }
                    }
                }
            }
        }
    }

    //みんなでクイズ
    &__everyOne {
        //ヘッダー
        &__head {
            text-align: center;
            padding: 10px 0;
            background: color("background_blue");
            &__image {
                display: flex;
                justify-content: center;
                padding: 0 0 0 25px;
                img {
                    min-height: 100%;
                    width: 150px;
                }
                &:after {
                    content: "";
                    height: 35px;
                    width: 35px;
                    background-size: contain;
                    margin: 0 0 0 10px;
                    background: url(/image/icon/icon_everyone.svg) no-repeat
                        center center;
                }
            }
        }
        //ボディー
        &__body {
            padding: 20px 0 0;
            background: color("background");
            border-bottom: 2px solid #3492b4;
            .p-everyOne__list {
                + .p-everyOne__list {
                    margin: 10px 0 0;
                }
                > li {
                    padding: 15px;
                    background: color("background_white");
                    +li{
                      margin: 10px 0 0;
                    }
                    article {
                    }
                }
                &__head {
                    .anytime {
                        line-height: 20px !important;
                        @extend %c-text__lv7;
                        @extend %c-text__weight--700;
                        color: color("text_white");
                        background: color("background_blue");
                        padding: 2px 8px;
                        width: 125px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            margin: -1px 3px 0 0;
                            background-size: contain !important;
                            background-position: 50% !important;
                            background-repeat: no-repeat !important;
                            background: url(/image/icon/icon_time.svg) no-repeat
                                center center;
                        }
                    }
                    .relay {
                        line-height: 20px !important;
                        @extend %c-text__lv7;
                        @extend %c-text__weight--700;
                        color: color("text_white");
                        background: color("background_darkBlue");
                        padding: 2px 8px;
                        width: 105px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            margin: -1px 3px 0 0;
                            background-size: contain !important;
                            background-position: 50% !important;
                            background-repeat: no-repeat !important;
                            background: url(/image/icon/icon_time.svg) no-repeat
                                center center;
                        }
                    }
                    .title {
                        @extend %c-text__lv5;
                        @extend %c-text__weight--700;
                        color: color("text");
                        margin: 5px 0 0;
                    }
                }
                &__body {
                    display: flex;
                    margin: 8px 0 0;
                    &__image {
                        // background: url(/image/img/img.png) no-repeat center
                        //     center;
                        background-size: cover !important;
                        background-repeat: no-repeat;
                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            padding-top: 100%;
                        }
                        .delivery {
                            @extend %c-text__lv7;
                            @extend %c-text__weight--700;
                            color: color("text_white");
                            background: color("background_red");
                            padding: 5px 8px;
                            border-radius: 0 0 5px 0;
                            position: absolute;
                            top: 0px;
                            display: flex;
                            align-items: center;
                            &:before {
                                content: "";
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                margin: 0 0 0 -5px;
                                background-size: contain !important;
                                background-position: 50% !important;
                                background-repeat: no-repeat !important;
                                background: url(/image/icon/icon_delivery.svg)
                                    no-repeat center center;
                            }
                        }
                    }
                    &__text {
                        .notice {
                            @extend %c-text__lv7;
                            @extend %c-text__weight--700;
                            color: color("text_white");
                            background: color("background_black");
                            width: 100%;
                            padding: 4px 0;
                            text-align: center;
                            span {
                            }
                        }
                    }
                    .left {
                        flex: 0 0 130px;
                        margin: 0 15px 0 0;
                    }
                    .right {
                        flex: auto;
                        .p-show__list {
                            > li {
                                + li {
                                    margin: 5px 0 0;
                                }
                                article {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    width: 100%;
                                    align-items: flex-start;
                                    .title {
                                        flex: 0 0 60px;
                                        position: relative;
                                        p {
                                            @extend %c-text__lv7;
                                            @extend %c-text__weight--700;
                                            color: color("text_black");
                                        }
                                    }
                                    .cnt {
                                        p {
                                            @extend %c-text__weight--500;
                                            @extend %c-text__lv7;
                                            color: color("text");
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__time {
                    display: flex;
                    flex-flow: column;
                    margin: 15px 0 0;

                    .title {
                        @extend %c-text__lv7;
                        color: color("text");
                    }
                    .number {
                        @extend %c-text__lv7;
                        color: color("text_blue");
                        margin: 0 0 0 5px;
                        span {
                            @extend %c-text__lv6;
                            @extend %c-text__weight--700;
                        }
                    }
                    &__entry {
                        display: flex;
                        align-items: center;
                        .number {
                            @extend %c-text__lv7;
                            color: color("text_blue");
                            @extend %c-text__weight--700;
                            margin: 0 0 0 5px;
                            span {
                                @extend %c-text__lv6;
                                @extend %c-text__weight--700;
                            }
                        }
                    }
                    &__challenge {
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        .number {
                            @extend %c-text__lv7;
                            @extend %c-text__weight--700;
                            color: color("text_blue");
                            margin: 0 0 0 5px;
                            span {
                                @extend %c-text__lv6;
                                @extend %c-text__weight--700;
                            }
                        }
                    }
                }
                &__organizer {
                    display: flex;
                    align-items: center;
                    &__circle {
                        // background: url(/image/img/circle.png) no-repeat center
                        //     center;
                        background-size: cover !important;
                        background-repeat: no-repeat;
                        height: 30px;
                        width: 30px;
                        border: 2px solid #fff;
                        border-radius: 35px;
                        z-index: 1;
                    }
                    .offer {
                        margin: 0 0 0 5px;
                        @extend %c-text__lv7;
                        color: color("text_gray");
                    }
                }
            }
        }
    }
    //総合ランキング
    &__ranking {
        .p-home__everyOne__head {
            background: color("background_thinBlue");
            &__image {
                display: flex;
                justify-content: center;
                padding: 0 0 0 25px;
                img {
                    min-height: 100%;
                    width: 150px;
                }
                &:after {
                    content: "";
                    height: 35px;
                    width: 35px;
                    background-size: contain;
                    margin: 0 0 0 10px;
                    background: url(/image/icon/icon_ranking.svg) no-repeat
                        center center;
                }
            }
        }
        .p-everyOne__list {
            > li {
                + li {
                    margin: 10px 0 0;
                }
            }
            .first {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    height: 30px;
                    width: 30px;
                    transform: translatey(-50%);
                    background: url(/image/icon/icon_ranking_first.svg)
                        no-repeat center center;
                    background-size: contain;
                }
            }
            .second {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    height: 30px;
                    width: 30px;
                    transform: translatey(-50%);
                    background: url(/image/icon/icon_ranking_second.svg)
                        no-repeat center center;
                    background-size: contain;
                }
            }
            .third {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    height: 30px;
                    width: 30px;
                    transform: translatey(-50%);
                    background: url(/image/icon/icon_ranking_third.svg)
                        no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
    //お知らせ
    &__news {
        padding: 35px 0 0;
        //ヘッダー
        &__head {
            text-align: center;
            padding: 10px 0;
            &__image {
                display: flex;
                justify-content: center;
                padding: 0 0 0 25px;
                img {
                    min-height: 100%;
                    width: 95px;
                }
                &:after {
                    content: "";
                    height: 35px;
                    width: 35px;
                    margin: 0 0 0 10px;
                    background-size: contain;
                    background: url(/image/icon/icon_news.svg) no-repeat center
                        center;
                }
            }
        }
        //ボディー
        &__body {
            margin: 20px 0 0;
            .p-news__list {
                border-radius: 4px;
                padding: 20px 10px;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                > li {
                    + li {
                        border-top: 2px dotted #e2e2e2;
                        padding: 10px 0 0;
                        margin: 10px 0 0;
                    }
                    article {
                        display: flex;
                        flex-direction: column;
                        .number {
                            color: color("text_gray");
                        }
                        .title {
                            @extend %c-text__lv6;
                            color: color("text");
                            @extend %c-text__weight--600;
                        }
                    }
                }
            }
        }
    }
    //バナー
    &__banner {
        margin: 0 0 50px;
        .p-banner__list {
            text-align: center;
            > li {
                + li {
                    margin: 10px 0 0;
                }
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    //共通ボタン
    &__quiz__buttonArea {
        padding: 30px 0 50px;
        text-align: center;
    }
}
