@charset "UTF-8";

/* ! --------------------------------------------------

- モーダル
//ニックネーム
//ルール
//退出
-------------------------------------------------- */
.p-modal{
	.remodal-close{
	position: absolute;top: 0; right: 0px;
    background: none;
    border: none;
	}
	&--head{
		border-radius: 3px 3px 0 0;
		background: color("background_blue");
		&--text{
			padding: 8px 0;
			.nickname{
				color: color("text_white");
		    @extend %c-text__lv6;
				@extend %c-text__weight--700;
			}
		}
	}
	&--body{
		margin: 15px 0;
		&--text{
			.cnt{
				font-size: 15px;
				@extend %c-text__weight--700;	
			}
			.description{
				color: color("text_thinBlack");
				@extend %c-text__lv7;
				@extend %c-text__weight--700;	
			}
		}
		&--list{
			.p-formList__item{
				&__head{
					text-align: left;
				}
			}
		}
		.p-modal__buttonArea{
			margin: 15px 0 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			a{
				margin: 15px 0 0;
			}
		}	
	}
	&--rule{
		.p-modal--body{
			.p-modal--body--text{
				text-align: left;
			}
		}
	}
	&--exit{
		.p-modal__buttonArea{
			flex-direction: row;
			justify-content: center;
			button
			+ button{
				margin: 0 0 0 10px;
			}
		}
	}
}