
$base_width: 10px;
$full_width: 100%;
.c-main-box
 {
    padding: 25px;
    margin: $base_width;
    background: #fff;
    font-weight: 14px;
    border: 1px solid #72777C;
    border-radius: 10px;

 }


