.p-index-store{
    max-width: 1280px;//広がりすぎて見辛くなる点を考慮
    width: 100%;
    flex: auto;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__head {
      width: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid #eee;
      padding: 0 16px;
      &__title {
        @extend %c-text__lv3;
        @extend %c-text__bold;
        flex: none;
        display: flex;
        align-items: center;
        .c-image {
          width: 24px;
          margin: 0 8px 0 0;
          &--user{
                height: 25px;
                  width: 25px;
                  background: url(/image/icon/icon_red_user.svg);
            }
            &--company{
                height: 25px;
                  width: 25px;
                  background: url(/image/icon/icon_red_company.svg);
            }
          &--quiz{
                height: 25px;
                  width: 25px;
                  background: url(/image/icon/icon_red_quiz.svg);
            }
            &--news{
                height: 25px;
                  width: 25px;
                  background: url(/image/icon/icon_red_news.svg);
            }
            &--contact{
                height: 25px;
                  width: 25px;
                  background: url(/image/icon/icon_red_contact.svg);
            }
        }    
        .p-text {
          margin-left: 24px;        
        }
      }
      &__action {
        flex: auto;
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    &__body {
      width: 100%;
      background: #fff;
      flex: auto;
      min-width: 0;
      padding: 16px;
      .p-filter {
        margin-bottom: 24px;
      }
    }
  }