$listColumn: '.p-list--column';
.p-list {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    & + & {
      margin: 8px 0 0;
      padding: 12px 0 0;
      .p-list--line & {
        border-top: 1px solid color(line);
      }
    }
    #{$listColumn} & {
      flex-wrap: wrap;
    }
    &__label {
      @extend %c-text__lv6;
      letter-spacing: 0;
      display: inline-block;
      margin: 0 16px 0 0;
      flex: 0 0 100px;
      position: relative;
      #{$listColumn} & {
        flex: 0 0 100%;
        margin: 0 0 4px;
      }
      .required {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        background: red;
        position: absolute;
        top: -6px;
        left: 0;
      }
    }
    &__data {
      color: color(base);
      font-size: 15px;
      flex: auto;
      min-width: 0;
      &__scroll {
        max-height: 100px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 2px;
        	background: #F2F4F7;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 2px;
        	background: #0A2372;
        }
      }
    }
    //img分割
    &__fileList {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: -3px;
			>li{
				width: 50%;
				padding: 3px;
				.c-input{
					height: 100px;
				}
			}
			.reply{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "1";
				    background: #1781EB;
				    color: #fff;
				    top: 0;
				    left: 0;
				    width: 25px;
				    height: 25px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					}
				}
			}
			.second{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "2";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 0;
				    left: 0;
				    width: 25px;
				    height: 25px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					}
				}
			}
			.third{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "3";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 0;
				    left: 0;
				    width: 25px;
				    height: 25px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					}
				}
			}
			.fourth{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "4";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 0;
				    left: 0;
				    width: 25px;
				    height: 25px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					}
				}
			}
		}
		&__textList {
			width: 100%;
			>li{
				.c-input{
					input{
						padding: 0 0 0 30px;
					}					
				}
			}
			.reply{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "1";
				    background: #1781EB;
				    color: #fff;
				    top: 4px;
				    left: 4px;
				    width: 25px;
				    height: 40px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border-radius: 4px 0 0 4px;
					}
				}
			}
			.second{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "2";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 4px;
				    left: 4px;
				    width: 25px;
				    height: 40px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border-radius: 4px 0 0 4px;
					}
				}
			}
			.third{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "3";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 4px;
				    left: 4px;
				    width: 25px;
				    height: 40px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border-radius: 4px 0 0 4px;
					}
				}
			}
			.fourth{
				.c-input{
					position: relative;
					&:after{
						position: absolute;
				    content: "4";
				    border: 1px solid #1781EB;
				    background: #fff;
				    color: #1781EB;
				    top: 4px;
				    left: 4px;
				    width: 25px;
				    height: 40px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border-radius: 4px 0 0 4px;
					}
				}
			}
		}
  } 
}