.p-status {
	display: flex;
	margin: 0 0 20px;
	.type{
		display: flex;
    align-items: center;
		background: color("black");
		color: color("white");
		padding: 0 15px;
	}
	.display{
		display: flex;
    align-items: center;
		margin: 0 0 0 5px;
		padding: 0 15px;
		background: color("white");
		color: color("deep--blue");
		border: 1px solid #1B264C;
	}
}