@charset "UTF-8";

.dpl-flx {
  display: inline-flex;
}

.wgt-full {
  width: 100%;
}

.txt-alg-r {
  text-align: right;
}

.txt-alg-l {
  text-align: left;
}

.txt-alg-c {
  text-align: center;
}

.mgn-r-auto {
  margin-right: auto;
}

.mgn-center {
  margin: 0 auto;
}

.mgn-ato {
  margin: auto;
}

.mgn-l-ato {
  margin-left: auto;
}

.mgn-r-ato {
  margin-right: auto;
}

.min-wgt-sm {
  min-width: 180px;
}

.min-wgt-md {
  min-width: 230px;
}

.min-wgt-lg {
  min-width: 350px;
}

.fnt-sz-1 {
  font-size: 11px;
}

.fnt-sz-2 {
  font-size: 12px;
}

.fnt-sz-3 {
  font-size: 13px;
}

.fnt-sz-4 {
  font-size: 14px;
}

.fnt-sz-5 {
  font-size: 15px;
}

.fnt-sz-6 {
  font-size: 16px;
}

.fnt-sz-7 {
  font-size: 17px;
}

.fnt-sz-8 {
  font-size: 18px;
}

.fnt-sz-9 {
  font-size: 19px;
}

.fnt-sz-10 {
  font-size: 20px;
}

.fnt-sz-11 {
  font-size: 21px;
}

.fnt-sz-12 {
  font-size: 22px;
}

.fnt-sz-13 {
  font-size: 23px;
}

.fnt-sz-14 {
  font-size: 24px;
}

.fnt-sz-15 {
  font-size: 25px;
}

.fnt-sz-16 {
  font-size: 26px;
}

.fnt-sz-17 {
  font-size: 27px;
}

.fnt-sz-18 {
  font-size: 28px;
}

.fnt-sz-19 {
  font-size: 29px;
}

.fnt-sz-20 {
  font-size: 30px;
}

.w-per-1 {
  width: 5%;
}

.w-per-2 {
  width: 10%;
}

.w-per-3 {
  width: 15%;
}

.w-per-4 {
  width: 20%;
}

.w-per-5 {
  width: 25%;
}

.w-per-6 {
  width: 30%;
}

.w-per-7 {
  width: 35%;
}

.w-per-8 {
  width: 40%;
}

.w-per-9 {
  width: 45%;
}

.w-per-10 {
  width: 50%;
}

.w-per-11 {
  width: 55%;
}

.w-per-12 {
  width: 60%;
}

.w-per-13 {
  width: 65%;
}

.w-per-14 {
  width: 70%;
}

.w-per-15 {
  width: 75%;
}

.w-per-16 {
  width: 80%;
}

.w-per-17 {
  width: 85%;
}

.w-per-18 {
  width: 90%;
}

.w-per-19 {
  width: 95%;
}

.w-per-20 {
  width: 100%;
}

.min-hgt-1 {
  min-height: 44px;
}

.min-wgt-1 {
  min-width: 150px;
}

.wgt-1 {
  width: 150px;
}

.hgt-1 {
  height: 125px;
}

.min-hgt-2 {
  min-height: 88px;
}

.min-wgt-2 {
  min-width: 300px;
}

.wgt-2 {
  width: 300px;
}

.hgt-2 {
  height: 250px;
}

.min-hgt-3 {
  min-height: 132px;
}

.min-wgt-3 {
  min-width: 450px;
}

.wgt-3 {
  width: 450px;
}

.hgt-3 {
  height: 375px;
}

.min-hgt-4 {
  min-height: 176px;
}

.min-wgt-4 {
  min-width: 600px;
}

.wgt-4 {
  width: 600px;
}

.hgt-4 {
  height: 500px;
}

.min-hgt-5 {
  min-height: 220px;
}

.min-wgt-5 {
  min-width: 750px;
}

.wgt-5 {
  width: 750px;
}

.hgt-5 {
  height: 625px;
}

.min-hgt-6 {
  min-height: 264px;
}

.min-wgt-6 {
  min-width: 900px;
}

.wgt-6 {
  width: 900px;
}

.hgt-6 {
  height: 750px;
}

.min-hgt-7 {
  min-height: 308px;
}

.min-wgt-7 {
  min-width: 1050px;
}

.wgt-7 {
  width: 1050px;
}

.hgt-7 {
  height: 875px;
}

.min-hgt-8 {
  min-height: 352px;
}

.min-wgt-8 {
  min-width: 1200px;
}

.wgt-8 {
  width: 1200px;
}

.hgt-8 {
  height: 1000px;
}

.min-hgt-9 {
  min-height: 396px;
}

.min-wgt-9 {
  min-width: 1350px;
}

.wgt-9 {
  width: 1350px;
}

.hgt-9 {
  height: 1125px;
}

.min-hgt-10 {
  min-height: 440px;
}

.min-wgt-10 {
  min-width: 1500px;
}

.wgt-10 {
  width: 1500px;
}

.hgt-10 {
  height: 1250px;
}

.fnt-wgt-1 {
  font-weight: 200;
}

.fnt-wgt-2 {
  font-weight: 400;
}

.fnt-wgt-3 {
  font-weight: 600;
}

.fnt-wgt-4 {
  font-weight: 800;
}

.fnt-wgt-5 {
  font-weight: 1000;
}

.wdt-1 {
  width: 150px;
}

.wdt-2 {
  width: 300px;
}

.wdt-3 {
  width: 450px;
}

.wdt-4 {
  width: 600px;
}

.wdt-5 {
  width: 750px;
}

.wdt-6 {
  width: 900px;
}

.wdt-7 {
  width: 1050px;
}

.wdt-8 {
  width: 1200px;
}

.wdt-9 {
  width: 1350px;
}

.wdt-10 {
  width: 1500px;
}

.wdt-11 {
  width: 1650px;
}

.wdt-12 {
  width: 1800px;
}

.wdt-13 {
  width: 1950px;
}

.wdt-14 {
  width: 2100px;
}

.wdt-15 {
  width: 2250px;
}

.wdt-16 {
  width: 2400px;
}

.wdt-17 {
  width: 2550px;
}

.wdt-18 {
  width: 2700px;
}

.wdt-19 {
  width: 2850px;
}

.wdt-20 {
  width: 3000px;
}

.pdg-1 {
  padding: 5px;
}

.pdg-l-1 {
  padding-left: 5px;
}

.pdg-r-1 {
  padding-right: 5px;
}

.pdg-b-1 {
  padding-bottom: 5px;
}

.pdg-t-1 {
  padding-top: 5px;
}

.mgn-1 {
  margin: 5px;
}

.mgn-l-1 {
  margin-left: 5px;
}

.mgn-r-1 {
  margin-right: 5px;
}

.mgn-b-1 {
  margin-bottom: 5px;
}

.mgn-t-1 {
  margin-top: 5px;
}

.pdg-2 {
  padding: 10px;
}

.pdg-l-2 {
  padding-left: 10px;
}

.pdg-r-2 {
  padding-right: 10px;
}

.pdg-b-2 {
  padding-bottom: 10px;
}

.pdg-t-2 {
  padding-top: 10px;
}

.mgn-2 {
  margin: 10px;
}

.mgn-l-2 {
  margin-left: 10px;
}

.mgn-r-2 {
  margin-right: 10px;
}

.mgn-b-2 {
  margin-bottom: 10px;
}

.mgn-t-2 {
  margin-top: 10px;
}

.pdg-3 {
  padding: 15px;
}

.pdg-l-3 {
  padding-left: 15px;
}

.pdg-r-3 {
  padding-right: 15px;
}

.pdg-b-3 {
  padding-bottom: 15px;
}

.pdg-t-3 {
  padding-top: 15px;
}

.mgn-3 {
  margin: 15px;
}

.mgn-l-3 {
  margin-left: 15px;
}

.mgn-r-3 {
  margin-right: 15px;
}

.mgn-b-3 {
  margin-bottom: 15px;
}

.mgn-t-3 {
  margin-top: 15px;
}

.pdg-4 {
  padding: 20px;
}

.pdg-l-4 {
  padding-left: 20px;
}

.pdg-r-4 {
  padding-right: 20px;
}

.pdg-b-4 {
  padding-bottom: 20px;
}

.pdg-t-4 {
  padding-top: 20px;
}

.mgn-4 {
  margin: 20px;
}

.mgn-l-4 {
  margin-left: 20px;
}

.mgn-r-4 {
  margin-right: 20px;
}

.mgn-b-4 {
  margin-bottom: 20px;
}

.mgn-t-4 {
  margin-top: 20px;
}

.pdg-5 {
  padding: 25px;
}

.pdg-l-5 {
  padding-left: 25px;
}

.pdg-r-5 {
  padding-right: 25px;
}

.pdg-b-5 {
  padding-bottom: 25px;
}

.pdg-t-5 {
  padding-top: 25px;
}

.mgn-5 {
  margin: 25px;
}

.mgn-l-5 {
  margin-left: 25px;
}

.mgn-r-5 {
  margin-right: 25px;
}

.mgn-b-5 {
  margin-bottom: 25px;
}

.mgn-t-5 {
  margin-top: 25px;
}

.pdg-6 {
  padding: 30px;
}

.pdg-l-6 {
  padding-left: 30px;
}

.pdg-r-6 {
  padding-right: 30px;
}

.pdg-b-6 {
  padding-bottom: 30px;
}

.pdg-t-6 {
  padding-top: 30px;
}

.mgn-6 {
  margin: 30px;
}

.mgn-l-6 {
  margin-left: 30px;
}

.mgn-r-6 {
  margin-right: 30px;
}

.mgn-b-6 {
  margin-bottom: 30px;
}

.mgn-t-6 {
  margin-top: 30px;
}

.pdg-7 {
  padding: 35px;
}

.pdg-l-7 {
  padding-left: 35px;
}

.pdg-r-7 {
  padding-right: 35px;
}

.pdg-b-7 {
  padding-bottom: 35px;
}

.pdg-t-7 {
  padding-top: 35px;
}

.mgn-7 {
  margin: 35px;
}

.mgn-l-7 {
  margin-left: 35px;
}

.mgn-r-7 {
  margin-right: 35px;
}

.mgn-b-7 {
  margin-bottom: 35px;
}

.mgn-t-7 {
  margin-top: 35px;
}

.pdg-8 {
  padding: 40px;
}

.pdg-l-8 {
  padding-left: 40px;
}

.pdg-r-8 {
  padding-right: 40px;
}

.pdg-b-8 {
  padding-bottom: 40px;
}

.pdg-t-8 {
  padding-top: 40px;
}

.mgn-8 {
  margin: 40px;
}

.mgn-l-8 {
  margin-left: 40px;
}

.mgn-r-8 {
  margin-right: 40px;
}

.mgn-b-8 {
  margin-bottom: 40px;
}

.mgn-t-8 {
  margin-top: 40px;
}

.pdg-9 {
  padding: 45px;
}

.pdg-l-9 {
  padding-left: 45px;
}

.pdg-r-9 {
  padding-right: 45px;
}

.pdg-b-9 {
  padding-bottom: 45px;
}

.pdg-t-9 {
  padding-top: 45px;
}

.mgn-9 {
  margin: 45px;
}

.mgn-l-9 {
  margin-left: 45px;
}

.mgn-r-9 {
  margin-right: 45px;
}

.mgn-b-9 {
  margin-bottom: 45px;
}

.mgn-t-9 {
  margin-top: 45px;
}

.pdg-10 {
  padding: 50px;
}

.pdg-l-10 {
  padding-left: 50px;
}

.pdg-r-10 {
  padding-right: 50px;
}

.pdg-b-10 {
  padding-bottom: 50px;
}

.pdg-t-10 {
  padding-top: 50px;
}

.mgn-10 {
  margin: 50px;
}

.mgn-l-10 {
  margin-left: 50px;
}

.mgn-r-10 {
  margin-right: 50px;
}

.mgn-b-10 {
  margin-bottom: 50px;
}

.mgn-t-10 {
  margin-top: 50px;
}

.pdg-11 {
  padding: 55px;
}

.pdg-l-11 {
  padding-left: 55px;
}

.pdg-r-11 {
  padding-right: 55px;
}

.pdg-b-11 {
  padding-bottom: 55px;
}

.pdg-t-11 {
  padding-top: 55px;
}

.mgn-11 {
  margin: 55px;
}

.mgn-l-11 {
  margin-left: 55px;
}

.mgn-r-11 {
  margin-right: 55px;
}

.mgn-b-11 {
  margin-bottom: 55px;
}

.mgn-t-11 {
  margin-top: 55px;
}

.pdg-12 {
  padding: 60px;
}

.pdg-l-12 {
  padding-left: 60px;
}

.pdg-r-12 {
  padding-right: 60px;
}

.pdg-b-12 {
  padding-bottom: 60px;
}

.pdg-t-12 {
  padding-top: 60px;
}

.mgn-12 {
  margin: 60px;
}

.mgn-l-12 {
  margin-left: 60px;
}

.mgn-r-12 {
  margin-right: 60px;
}

.mgn-b-12 {
  margin-bottom: 60px;
}

.mgn-t-12 {
  margin-top: 60px;
}

.pdg-13 {
  padding: 65px;
}

.pdg-l-13 {
  padding-left: 65px;
}

.pdg-r-13 {
  padding-right: 65px;
}

.pdg-b-13 {
  padding-bottom: 65px;
}

.pdg-t-13 {
  padding-top: 65px;
}

.mgn-13 {
  margin: 65px;
}

.mgn-l-13 {
  margin-left: 65px;
}

.mgn-r-13 {
  margin-right: 65px;
}

.mgn-b-13 {
  margin-bottom: 65px;
}

.mgn-t-13 {
  margin-top: 65px;
}

.pdg-14 {
  padding: 70px;
}

.pdg-l-14 {
  padding-left: 70px;
}

.pdg-r-14 {
  padding-right: 70px;
}

.pdg-b-14 {
  padding-bottom: 70px;
}

.pdg-t-14 {
  padding-top: 70px;
}

.mgn-14 {
  margin: 70px;
}

.mgn-l-14 {
  margin-left: 70px;
}

.mgn-r-14 {
  margin-right: 70px;
}

.mgn-b-14 {
  margin-bottom: 70px;
}

.mgn-t-14 {
  margin-top: 70px;
}

.pdg-15 {
  padding: 75px;
}

.pdg-l-15 {
  padding-left: 75px;
}

.pdg-r-15 {
  padding-right: 75px;
}

.pdg-b-15 {
  padding-bottom: 75px;
}

.pdg-t-15 {
  padding-top: 75px;
}

.mgn-15 {
  margin: 75px;
}

.mgn-l-15 {
  margin-left: 75px;
}

.mgn-r-15 {
  margin-right: 75px;
}

.mgn-b-15 {
  margin-bottom: 75px;
}

.mgn-t-15 {
  margin-top: 75px;
}

.pdg-16 {
  padding: 80px;
}

.pdg-l-16 {
  padding-left: 80px;
}

.pdg-r-16 {
  padding-right: 80px;
}

.pdg-b-16 {
  padding-bottom: 80px;
}

.pdg-t-16 {
  padding-top: 80px;
}

.mgn-16 {
  margin: 80px;
}

.mgn-l-16 {
  margin-left: 80px;
}

.mgn-r-16 {
  margin-right: 80px;
}

.mgn-b-16 {
  margin-bottom: 80px;
}

.mgn-t-16 {
  margin-top: 80px;
}

.pdg-17 {
  padding: 85px;
}

.pdg-l-17 {
  padding-left: 85px;
}

.pdg-r-17 {
  padding-right: 85px;
}

.pdg-b-17 {
  padding-bottom: 85px;
}

.pdg-t-17 {
  padding-top: 85px;
}

.mgn-17 {
  margin: 85px;
}

.mgn-l-17 {
  margin-left: 85px;
}

.mgn-r-17 {
  margin-right: 85px;
}

.mgn-b-17 {
  margin-bottom: 85px;
}

.mgn-t-17 {
  margin-top: 85px;
}

.pdg-18 {
  padding: 90px;
}

.pdg-l-18 {
  padding-left: 90px;
}

.pdg-r-18 {
  padding-right: 90px;
}

.pdg-b-18 {
  padding-bottom: 90px;
}

.pdg-t-18 {
  padding-top: 90px;
}

.mgn-18 {
  margin: 90px;
}

.mgn-l-18 {
  margin-left: 90px;
}

.mgn-r-18 {
  margin-right: 90px;
}

.mgn-b-18 {
  margin-bottom: 90px;
}

.mgn-t-18 {
  margin-top: 90px;
}

.pdg-19 {
  padding: 95px;
}

.pdg-l-19 {
  padding-left: 95px;
}

.pdg-r-19 {
  padding-right: 95px;
}

.pdg-b-19 {
  padding-bottom: 95px;
}

.pdg-t-19 {
  padding-top: 95px;
}

.mgn-19 {
  margin: 95px;
}

.mgn-l-19 {
  margin-left: 95px;
}

.mgn-r-19 {
  margin-right: 95px;
}

.mgn-b-19 {
  margin-bottom: 95px;
}

.mgn-t-19 {
  margin-top: 95px;
}

.pdg-20 {
  padding: 100px;
}

.pdg-l-20 {
  padding-left: 100px;
}

.pdg-r-20 {
  padding-right: 100px;
}

.pdg-b-20 {
  padding-bottom: 100px;
}

.pdg-t-20 {
  padding-top: 100px;
}

.mgn-20 {
  margin: 100px;
}

.mgn-l-20 {
  margin-left: 100px;
}

.mgn-r-20 {
  margin-right: 100px;
}

.mgn-b-20 {
  margin-bottom: 100px;
}

.mgn-t-20 {
  margin-top: 100px;
}

.pdg-21 {
  padding: 105px;
}

.pdg-l-21 {
  padding-left: 105px;
}

.pdg-r-21 {
  padding-right: 105px;
}

.pdg-b-21 {
  padding-bottom: 105px;
}

.pdg-t-21 {
  padding-top: 105px;
}

.mgn-21 {
  margin: 105px;
}

.mgn-l-21 {
  margin-left: 105px;
}

.mgn-r-21 {
  margin-right: 105px;
}

.mgn-b-21 {
  margin-bottom: 105px;
}

.mgn-t-21 {
  margin-top: 105px;
}

.pdg-22 {
  padding: 110px;
}

.pdg-l-22 {
  padding-left: 110px;
}

.pdg-r-22 {
  padding-right: 110px;
}

.pdg-b-22 {
  padding-bottom: 110px;
}

.pdg-t-22 {
  padding-top: 110px;
}

.mgn-22 {
  margin: 110px;
}

.mgn-l-22 {
  margin-left: 110px;
}

.mgn-r-22 {
  margin-right: 110px;
}

.mgn-b-22 {
  margin-bottom: 110px;
}

.mgn-t-22 {
  margin-top: 110px;
}

.pdg-23 {
  padding: 115px;
}

.pdg-l-23 {
  padding-left: 115px;
}

.pdg-r-23 {
  padding-right: 115px;
}

.pdg-b-23 {
  padding-bottom: 115px;
}

.pdg-t-23 {
  padding-top: 115px;
}

.mgn-23 {
  margin: 115px;
}

.mgn-l-23 {
  margin-left: 115px;
}

.mgn-r-23 {
  margin-right: 115px;
}

.mgn-b-23 {
  margin-bottom: 115px;
}

.mgn-t-23 {
  margin-top: 115px;
}

.pdg-24 {
  padding: 120px;
}

.pdg-l-24 {
  padding-left: 120px;
}

.pdg-r-24 {
  padding-right: 120px;
}

.pdg-b-24 {
  padding-bottom: 120px;
}

.pdg-t-24 {
  padding-top: 120px;
}

.mgn-24 {
  margin: 120px;
}

.mgn-l-24 {
  margin-left: 120px;
}

.mgn-r-24 {
  margin-right: 120px;
}

.mgn-b-24 {
  margin-bottom: 120px;
}

.mgn-t-24 {
  margin-top: 120px;
}

.pdg-25 {
  padding: 125px;
}

.pdg-l-25 {
  padding-left: 125px;
}

.pdg-r-25 {
  padding-right: 125px;
}

.pdg-b-25 {
  padding-bottom: 125px;
}

.pdg-t-25 {
  padding-top: 125px;
}

.mgn-25 {
  margin: 125px;
}

.mgn-l-25 {
  margin-left: 125px;
}

.mgn-r-25 {
  margin-right: 125px;
}

.mgn-b-25 {
  margin-bottom: 125px;
}

.mgn-t-25 {
  margin-top: 125px;
}

.pdg-26 {
  padding: 130px;
}

.pdg-l-26 {
  padding-left: 130px;
}

.pdg-r-26 {
  padding-right: 130px;
}

.pdg-b-26 {
  padding-bottom: 130px;
}

.pdg-t-26 {
  padding-top: 130px;
}

.mgn-26 {
  margin: 130px;
}

.mgn-l-26 {
  margin-left: 130px;
}

.mgn-r-26 {
  margin-right: 130px;
}

.mgn-b-26 {
  margin-bottom: 130px;
}

.mgn-t-26 {
  margin-top: 130px;
}

.pdg-27 {
  padding: 135px;
}

.pdg-l-27 {
  padding-left: 135px;
}

.pdg-r-27 {
  padding-right: 135px;
}

.pdg-b-27 {
  padding-bottom: 135px;
}

.pdg-t-27 {
  padding-top: 135px;
}

.mgn-27 {
  margin: 135px;
}

.mgn-l-27 {
  margin-left: 135px;
}

.mgn-r-27 {
  margin-right: 135px;
}

.mgn-b-27 {
  margin-bottom: 135px;
}

.mgn-t-27 {
  margin-top: 135px;
}

.pdg-28 {
  padding: 140px;
}

.pdg-l-28 {
  padding-left: 140px;
}

.pdg-r-28 {
  padding-right: 140px;
}

.pdg-b-28 {
  padding-bottom: 140px;
}

.pdg-t-28 {
  padding-top: 140px;
}

.mgn-28 {
  margin: 140px;
}

.mgn-l-28 {
  margin-left: 140px;
}

.mgn-r-28 {
  margin-right: 140px;
}

.mgn-b-28 {
  margin-bottom: 140px;
}

.mgn-t-28 {
  margin-top: 140px;
}

.pdg-29 {
  padding: 145px;
}

.pdg-l-29 {
  padding-left: 145px;
}

.pdg-r-29 {
  padding-right: 145px;
}

.pdg-b-29 {
  padding-bottom: 145px;
}

.pdg-t-29 {
  padding-top: 145px;
}

.mgn-29 {
  margin: 145px;
}

.mgn-l-29 {
  margin-left: 145px;
}

.mgn-r-29 {
  margin-right: 145px;
}

.mgn-b-29 {
  margin-bottom: 145px;
}

.mgn-t-29 {
  margin-top: 145px;
}

.pdg-30 {
  padding: 150px;
}

.pdg-l-30 {
  padding-left: 150px;
}

.pdg-r-30 {
  padding-right: 150px;
}

.pdg-b-30 {
  padding-bottom: 150px;
}

.pdg-t-30 {
  padding-top: 150px;
}

.mgn-30 {
  margin: 150px;
}

.mgn-l-30 {
  margin-left: 150px;
}

.mgn-r-30 {
  margin-right: 150px;
}

.mgn-b-30 {
  margin-bottom: 150px;
}

.mgn-t-30 {
  margin-top: 150px;
}

.pagination ul {
  display: inline-flex;
  width: 100%;
}

.pagination ul li {
  font-weight: 700;
  font-size: 14px;
}

.pagination ul li a {
  border-radius: 50%;
  justify-content: center;
  padding: 11px;
  display: flex;
  margin: 15px 15px 0 0;
  width: 50px;
  align-items: center;
  border: solid 1px #003A16;
  line-height: 1.25;
  color: #000;
}

.pagination ul li a.active {
  background: #003A16;
  color: #fff;
}

.pagination ul li a i.arr-next {
  display: block;
  position: relative;
  width: 45px;
  height: 21px;
  pointer-events: none;
  background: url(/images/arrow.svg?e8c9628641f5dea3674cb28dfa3c5242);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.pagination ul li a i.arr-prev {
  display: block;
  position: relative;
  width: 45px;
  height: 21px;
  pointer-events: none;
  background: url(/images/arrow.svg?e8c9628641f5dea3674cb28dfa3c5242);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg);
}

.c-tooltip {
  position: absolute;
  display: inline-flex;
}

.c-tooltip .c-tooltiptext {
  content: "";
  display: inline-flex;
  position: relative;
  right: auto;
  width: 248px;
  z-index: 500;
  height: 193px;
  background: url(/images/tooltip--btn.svg?b6f9dd8…);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  margin-bottom: -102px;
  top: -20px;
}

.c-tooltip .c-tooltip-head {
  display: inline-flex;
  width: 100%;
  margin-left: 8px;
}

.c-tooltip-active {
  display: none;
}

.c-tooltip-design {
  margin-bottom: -40px;
}

.c-tooltiptext {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.c-tooltiptext-msg {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

.c-txt-message {
  font: 14px;
  color: #333;
  text-decoration: none;
}

.c-txt-message-2 {
  font: 14px;
  color: #333;
  text-decoration: none;
  margin-left: 5px;
  margin-top: 10px;
}

.c-tooltiptext-id {
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

.c-tooltiptext-id input {
  border: 1px solid #a8a8a8;
  width: 154px;
  height: 41px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.c-tooltip-save-btn {
  margin-top: 10px;
  padding-bottom: 10px;
}

.c_button_adjust-2 {
  border: 1px solid #003A16;
  width: 25px;
}

.pst-relative {
  position: relative;
}

.c-main-box {
  padding: 25px;
  margin: 10px;
  background: #fff;
  font-weight: 14px;
  border: 1px solid #72777C;
  border-radius: 10px;
}

.toggle-menu {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: 17px;
  float: right;
  z-index: 1000;
}

.toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: #fff;
  width: 30px;
  left: 0px;
  transition: all 0.3s;
}

.toggle-menu.men-active i:nth-child(1) {
  top: 8px;
  transform: rotateZ(45deg);
}

.toggle-menu i:nth-child(1) {
  top: 5px;
}

.toggle-menu.men-active i:nth-child(2) {
  background: transparent;
}

.toggle-menu i:nth-child(2) {
  top: 12px;
}

.toggle-menu.men-active i:nth-child(3) {
  top: 8px;
  transform: rotateZ(-45deg);
}

.toggle-menu i:nth-child(3) {
  top: 18px;
}

.opened-sidebar {
  position: absolute;
  z-index: 1;
  flex: 0 0 200px;
  margin-bottom: 120px;
  height: -webkit-fill-available;
  left: 50px;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.active-cont {
  margin-left: 55px;
}

.bg-tbl_title {
  background: #d8d8d8;
}

.rd-lst {
  border-bottom-left-radius: 6px;
}

.chk-tools {
  min-width: 120px;
}

.c-list-tbl {
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 14pxd;
  /* top-left border-radius */
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}

.c-list-tbl table {
  border-collapse: separate;
  border-spacing: 0;
}

.c-list-tbl table th {
  font-weight: 600;
}

.c-list-tbl table tr th,
.c-list-tbl table tr td {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 10px;
  height: 37px;
  color: #333;
}

.c-list-tbl table tr th:first-child,
.c-list-tbl table tr td:first-child {
  border-left: 1px solid #707070;
}

.c-list-tbl table tr th:first-child,
.c-list-tbl table tr td:first-child {
  border-left: 1px solid #707070;
}

.c-list-tbl table tr th {
  background: #d8d8d8;
  text-align: center;
  border-top: solid 1px #707070;
}

.c-list-tbl table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.c-list-tbl table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

.c-list-tbl table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.c-list-tbl table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.box-receipt table thead tr th,
.box-receipt td {
  border-top: 2px solid #72777c;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.box-receipt table {
  width: 100%;
}

.box-receipt table th {
  padding-top: 10px;
}

.box-receipt table th,
.box-receipt table td {
  text-align: left;
  padding-left: 20px;
}

.box-receipt table tr:first-of-type th {
  border-top: 1px solid #fff;
}

.box-receipt table tfoot tr td {
  border: 2px solid #fff;
}

.box-receipt table tfoot tr:last-of-type td {
  border-top: 3px solid #003a16;
  padding-bottom: 10px;
}

/* bottom-right border-radius */

.tbl-result-smpl {
  font-size: 12px;
  /* top-left border-radius */
  /* bottom-left border-radius */
  /* top-right border-radius */
  /* bottom-right border-radius */
}

.tbl-result-smpl table {
  border-collapse: separate;
  border-spacing: 0;
}

.tbl-result-smpl table td {
  min-width: 75px;
}

.tbl-result-smpl table tr td {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #333;
}

.tbl-result-smpl table tr:first-child td {
  border-top: 1px solid #707070;
}

.tbl-result-smpl table tr td:first-child {
  border-left: 1px solid #707070;
}

.tbl-result-smpl table tr:nth-of-type(2) td:first-child,
.tbl-result-smpl table tr:nth-of-type(3) td:first-child,
.tbl-result-smpl table tr:nth-of-type(4) td:first-child,
.tbl-result-smpl table tr:nth-of-type(5) td:first-child {
  border-left: 0px solid #707070;
}

.tbl-result-smpl table tr:first-child td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tbl-result-smpl table tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

.tbl-result-smpl table tr:last-child td:nth-of-type(2) {
  border-right: none;
}

.tbl-result-smpl table tr:last-child td:nth-of-type(3) {
  padding-left: 0px;
}

.tbl-result-smpl table tr:nth-of-type(4) td:last-child {
  border-bottom-right-radius: 6px;
}

.lbl-main {
  color: #003A16;
}

.lbl-danger {
  color: #E1285F;
}

.lbl-gray {
  color: #ABABAB;
}

.c-main-box-tabs {
  margin-top: 45px;
}

.c-main-box-tabs ul {
  display: inline-flex;
  height: 39px;
}

.c-main-box-tabs ul li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 40px;
  line-height: 31px;
  overflow: hidden;
  position: relative;
}

.c-main-box-tabs ul li.active {
  background-color: #fff;
  color: #333;
  border-left: solid 1px #72777C;
  border-right: solid 1px #72777C;
  border-top: solid 1px #72777C;
  background: #F9FAF2;
  border-bottom: #F9FAF2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  transition: background ease 0.5s;
  transition-duration: 0.5s;
}

.c-main-box-tabs ul p {
  padding-top: 5px;
  cursor: pointer;
}

.c-main-box-tabs .result {
  border: 1px solid #72777C;
  border-radius: 5px;
  clear: both;
  overflow: auto;
  background: #F9FAF2;
}

.c-main-box-tabs .result .result-tabs {
  padding: 20px;
}

.billing-info {
  margin-top: 25px;
}

.billing-info .head {
  display: inline-flex;
  width: 100%;
}

.c-icn-spch-bbl {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 25px;
  height: 25px;
  left: -4px;
  pointer-events: none;
  background: url(/images/spch-bbl.svg?361834d67965e78b2e1e4f9af7a341cc);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-add {
  content: "";
  display: inline-flex;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  left: 15px;
  background: url(/images/add_icon.svg?13c4f2cda5aa9bc5e7add544e0788655);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-polygon-up {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  left: -4px;
  background: url(/images/ico_polygon.svg?58cf1e1ec63aee5fa4d2477d0323ac5a);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-polygon-down {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotateX(180deg);
  left: -4px;
  background: url(/images/ico_polygon.svg?58cf1e1ec63aee5fa4d2477d0323ac5a);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-polygon-down-active {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  left: -4px;
  background: url(/images/ico_polygon_active.svg?80075f0e3b0d6a144c2fc20e2d401f24);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-polygon-up-active {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: rotateX(180deg);
  left: -4px;
  background: url(/images/ico_polygon_active.svg?80075f0e3b0d6a144c2fc20e2d401f24);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-close {
  content: "";
  display: inline-flex;
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  left: -4px;
  background: url(/images/close.svg?abdf0be22877b42d9d677aee039b5f75);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-chk-mark {
  content: "";
  display: inline-flex;
  position: relative;
  margin: 0 auto 0 auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  left: -4px;
  background: url(/images/check-mark.png?9f9df5cf8d1f80da9f6088ee4f4e4627);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.c-icn-select {
  height: 41px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "noto sans jp";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(/images/path_138.svg?ea80fc4d8b7e424a55119a7c92156534);
  border: 1px solid #333;
  background-size: 25px;
  border-radius: 3px;
  -o-border-image: initial;
     border-image: initial;
  padding: 10px 15px;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.t-tlt-bbl {
  content: "";
  display: inline-flex;
  position: relative;
  /* right: -14%; */
  left: -34px;
  width: 200px;
  height: 70px;
  pointer-events: none;
  background: url(/images/bbl.png?6367146…);
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  visibility: hidden;
  margin-bottom: -102px;
  top: -92px;
}

.c-radio-cnt {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-radio-cnt input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.c-radio-cnt .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

/* On mouse-over, add a grey background color */

.c-radio-cnt:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.c-radio-cnt input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.c-radio-cnt input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.c-radio-cnt .checkmark:after {
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FF6161;
}

.act-cat input:checked ~ label {
  background: #003a16;
  color: #ffffff;
}

.flx {
  display: flex;
}

.dpl-blk {
  display: inline-block;
}

.blk {
  display: block;
}

