@charset "UTF-8";
/* ! ==================================================

- ベースレイアウト

================================================== */
/* ! --------------------------------------------------

- ベースレイアウト[サイドバー、メインを並べるために使用]

-------------------------------------------------- */
.l-base {
  display: flex;
  flex: auto;
  min-width: 0;
}
