@charset "UTF-8";
/* ! ==================================================

- メイン

================================================== */
/* ! --------------------------------------------------

- メイン

-------------------------------------------------- */
.l-main {
  display: flex;
  flex: auto;
  min-width: 0;
  &--quiz{
	  height: 100%;
  }
}