@charset "UTF-8";
/* ! ==================================================

- ページレイアウト

================================================== */
/* ! --------------------------------------------------

- ページレイアウト

-------------------------------------------------- */
.l-page {
  width: 100%;
  flex: auto;
  min-width: 0;
}