@charset "UTF-8";
/* ! --------------------------------------------------

- 下層ページレイアウト

-------------------------------------------------- */
.l-underPage {
  width: 100%;
  flex: auto;
  min-width: 0;
}