/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/library/select2/theme/classic/layout.css.map
/public/css/library/select2/theme/default/layout.css.map
/public/css/object/library/select2/theme/default/layout.css.map
/public/css/style.css.map
/public/css/object/library/select2/theme/classic/layout.css.map
/app/Scripts/__pycache__
/app/Scripts/atbb/__pycache__
/app/Scripts/local_robore/__pycache__
/app/Scripts/local_itandibb/__pycache__
/app/Scripts/local_*/__pycache__
